/* This theme was made by reese! */

body {
	background-color: #f3f3f3;
	/* Background image credit to Kiwihug: https://unsplash.com/photos/zGZYQQVmXw0 - Edited by Reese to be tileable */
	background-image: url('../images/bg_morningNews.jpg');
	background-position: top center;
	font-size: 20px;
	font-family: "Calisto", "Garamond", "EB Garamond", "Times", serif;
	color: #222;
	margin: 0;
}

/* LAYOUT */
.right {
	float: right;
	margin-left: 1em;
}
.left {
	float: left;
	margin-right: 1em;
}
.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
@media only screen and (min-width: 600px) {
	.small {
		max-width: 60%;
		height: auto;
	}
}

#container {
	width: 90%;
	max-width: 700px;
	margin: 0.5em auto;
}

#content {
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table, th, td {
	border: 1px solid #333;
	border-spacing: 0;
	border-collapse: collapse;
}
th, td {
	padding: 0.25em;
}


/* TYPOGRAPHY */
p {
	line-height: 1.5em;
}

#content li {
	line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
	font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

a[href] {
	color: #0068ea;
}
a[href]:visited {
	color:  #8829f5;
}
@media (prefers-contrast: more) {
	a[href] {
		color: #0020ff;
	}
	a[href]:visited {
		color:  #6e00d3;
	}
}

.caption {
	margin-top: 0;
	font-size: 0.9em;
	font-style: italic;
}

#postDate {
	font-family: inherit;
	font-weight: normal;
	font-style: italic;
}


/* HEADER */
#header {
	border-bottom: 1px solid #222;
	padding: 0.8em 0;
}
#header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#header li {
	display: inline-block;
	margin-right: 1.5em;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}
#header li a {
	color: inherit;
	text-decoration: none;
}
#header li a:hover {
	text-decoration: underline;
}


/* POST LIST */
#postlistdiv ul {
	font-size: 1.2em;
	padding: 0;
	list-style-type: none;
}
#recentpostlistdiv ul {
	font-size: 1.2em;
	padding: 0;
	list-style-type: none;
}
.moreposts {
	font-size: 0.8em;
	margin-top: 0.2em;
}


/* NEXT AND PREVIOUS LINKS */
#nextprev {
	margin: 1.4em 0;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	color: #666;
}

/* DISQUS */
#disqus_thread {
	margin-top: 1.6em;
}

/* FOOTER */
#footer {
	font-size: 0.8em;
	border-top: 1px solid #222;
	padding: 0.8em 0;
}
#footer hr {
	display: none;
}
