/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  background-image: url('../images/bg_springSweetheart.jpg');
	background-position: top;
  font-size: 18px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  margin: 0;
}

p {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}
#content li {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .small {
  max-width: 60%;
  height: auto;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

/*LINK STYLE*/
a {
  color: #4652a7;
}
a:hover{
  text-decoration: none;
  background-color: white;
}

/*The horizontal rule appears at the top of the footer to visually separate the footer from the content. You can also use <hr> to divide sections in the content!*/
hr {
  border-width: 5px 0 0 0;
  border-style: dotted;
  border-color: #fb95db; 
}

/*#CONTAINER is the rectangle that has contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
	background-color: #fbceed;
  color: #752a49; 
  outline-offset: 5px;
  outline-width: 5px;
  outline-style: double;
  outline-color: #fb95db;
  border-width: 3px;
  border-style: solid;
  border-color: #fb95db;
}

#content {
  padding: 10px 5% 20px 5%;
}

/*HEADER STYLE*/
#header {
  background-color: #e3e7fd;
  padding: 0 5%;
  border-color: #fb95db;
  border-style: double;
  border-width: 0 0 5px 0;
  background-clip: padding-box;
}
#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#header li a {
  color: #5870c8;
  font-weight: bold;
  text-decoration: none;
}
#header li a::before {
  content: "\1F338";
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
}