/* This theme was made by reese! */

:root {
	--bg-color: #000;
	--text-color: #00ff00;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 16px;
	font-family: monospace;
	margin: 1em 0;
}

/* LAYOUT */
.right {
	float: right;
	margin-left: 1em;
}
.left {
	float: left;
	margin-right: 1em;
}
.center {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
@media only screen and (min-width: 600px) {
	.small {
		max-width: 60%;
		height: auto;
	}
}

#container {
	width: 90%;
	max-width: 700px;
	margin: 1ch auto;
}

img {
	max-width: 100%;
	height: auto;
	margin-top: 1ch;
	margin-bottom: 1ch;
}

table, th, td {
	border: 1px solid var(--text-color);
	border-spacing: 2px;
	/*border-collapse: separate;*/
}
th, td {
	padding: 0.5em;
}

figure {
	border: 1px solid var(--text-color);
	padding: 0.5em;
}
figure > :not(figcaption) {
	margin: 0;
}


/* TYPOGRAPHY */
h1, h2, h3, h4, h5 {
	font-weight: 500;
}

p, #content li {
	line-height: 1.6em;
}

a[href] {
	color: inherit;
}
a[href]:visited {
	color: inherit;
}
a[href]:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
	text-decoration: none;
}

.caption, figcaption {
	margin-top: 0.5em;
	font-size: 0.8em;
}

#postDate {
	font-weight: normal;
	font-style: italic;
}

ol {
	padding-inline-start: 3ch;
}

ul {
	list-style-type: none;
	padding-inline-start: 2ch;
}
ul li {
	list-style-type: "-";
	padding-inline-start: 1ch;
}
th {
	font-weight: bold;
}


/* HEADER */
#header {
	border: 1px solid var(--text-color);
	padding: 1ch;
}
#header ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#header li {
	display: inline-block;
	margin-right: 2ch;
}


/* POST LIST */
#postlistdiv ul {
	font-size: 1.2em;
	padding: 0;
	list-style-type: none;
}
#recentpostlistdiv ul {
	font-size: 1.2em;
	padding: 0;
	list-style-type: none;
}
.moreposts {
	font-size: 0.8em;
	margin-top: 0.2em;
}


/* NEXT AND PREVIOUS LINKS */
#nextprev {
	margin: 1.4em 0;
	color: inherit;
	text-align: center;
}

/* DISQUS */
#disqus_thread {
	margin-top: 1.6em;
}

/* FOOTER */
#footer {
	border: 1px solid var(--text-color);
	padding: 1ch;
}
#footer p {
	margin: 0;
}
#footer hr {
	display: none;
}
