/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #dfe4ee;
  background-image: url('../images/bg_y2k.png');
  background-repeat: no-repeat;
	background-position: 50% -240px;
	background-attachment: fixed;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

p {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}
#content li {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

a:hover, a:focus {
  background-color: #ffbedb;
}

img {
  max-width: 100%;
  height: auto;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .small {
  max-width: 60%;
  height: auto;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

/*The horizontal rule appears at the top of the footer to visually separate the footer
from the content. You can also use <hr> to divide sections in the content!*/
hr {
  border-width: 5px 0 0 0;
  border-style: dotted;
  border-color: #ff75af; 
}

/*#CONTAINER is the rectangle that has contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
	background-color: white;
  color: #214457; 
  border-radius: 30px 30px 20px 20px;
  overflow: hidden;
  box-shadow: 0 -2px 10px 0 #8da5cb inset;
}

#content {
  padding: 10px 5% 20px 5%;
}


/*HEADER STYLE*/
#header {
  position: relative; /*doesn't change this element, but needed for the pink ring's positioning*/
  background-color: #23a4f8;
  padding: 0 5%;
  border-color: #ff75af;
  border-style: solid;
  border-width: 0 0 5px 0;
  background-clip: padding-box;
  box-shadow: 0 -2px 12px 0 #1a80e4 inset;
  /*This is a workaround for the fact that overflow:hidden on parent element apparently didn't work in older versions of firefox:
  https://stackoverflow.com/questions/3714862/forcing-child-to-obey-parents-curved-borders-in-css*/
  -moz-border-radius: 20px; 
}
#header ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}
#header li a {
  color: white;
  background-color: #1b548e;
  border-radius: 25px;
  border: 3px solid #7cd8ff;
  padding: 6px 30px;
  box-shadow: 0 -2px 12px 0 #23a4f8 inset;
  text-transform: uppercase;
  text-decoration: none;
}
#header li a:hover {
  background-color: #1f64aa;
  text-decoration: none;
}
#header li a:active {
  background-color: #ec4d90;
  text-decoration: none;
  box-shadow: 0 -2px 12px 0 #fe83ff inset;
}
/*Floating ring*/
#header:after {
    position: absolute;
    right: 5%;
    bottom: -27px;
    content: '';
    background-color: #ffd6e7;
    box-shadow: 0 -1px 8px 0 #ffeaf3 inset;
    border-radius: 50%;
    border: 5px solid #ff75af;
    width: 40px;
    height: 40px;
    pointer-events: none;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
}