<h1>Archive</h1>
<div id="postlistdiv">
	<ul>
		<% posts.forEach(function(post){ %>
			<li><a href="/posts/<%= post.filename %>"><%= post.date %><%= (post.date.length > 0) ? " \u00BB " : "" %><%= post.title %></a></li>
		<% }); %>
	</ul>
</div>
