<h1>Welcome to Islet.surf! 🌴</h1>
<p>Islet is a tiny alternative to blogging platforms such as Wordpress and Ghost. It's based on <a href="https://zonelets.net/">Zonelets</a> and aims to give you a basic framework to start your own blog!</p>

<h2>Quick Start</h2>
<p>Islet is incredibly easy to set up, and has 2 ways you can go about hosting it. Each has its own benefits and drawbacks, but don't let that scare you away! This site is designed like a choose-your-own-adventure book; take a look at the options below to decide which path works for you.</p>

<ul>
	<li><strong>Option 1: Server</strong> - </li>
	<li><strong>Option 2: Static</strong></li>
</ul>

<!-- Copy and paste the line below into other templates where you want a "Recent posts" list! -->
<%- include('recent_posts'); %>
