<h1>Welcome to my blog!</h1>
<p>I hope you enjoy your time here!</p>

<!-- Copy and paste the line below into other templates where you want a "Recent posts" list! -->
<%- include('recent_posts'); %>
